
body{
    margin: 0;
    padding: 0;
    background-image: url("https://media.discordapp.net/attachments/752578454175875082/994693967629267044/bg2.jpg");
}

a{
    text-decoration: none;
}


.title-container{
    position: relative;
    top: 35vh;
    z-index: 1;
}

.title-container__h1{
    color: #fff;
    font-size: 50px;
    position: absolute;
    left: 15vh;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 0px 10px #cacaca;
}

.title-container__h3{
    color: #fff;
    position: absolute;
    left: 34vh;
    top: 9vh;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 0px 10px #cacaca;
}

.title-container__span{
    color: #fff;
    position: absolute;
    left: 15vh;
    top: 2vh;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 0px 10px #cacaca;
}

.typewriter-effect {
    display: flex;
    justify-content: center;
    font-family: monospace;
    position: absolute;
    left: 18vh;
    top: 5.5vh;
    
  }
  
  .typewriter-effect > .text {
    max-width: 0;
    animation: typing 3s steps(var(--characters));
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 0px 10px #cacaca;
  }


  .typewriter-effect:after {
    content: "|";
    font-size: 60px;
    color: #fff;
    animation: blink 1s infinite;
    animation-timing-function: step-end;

  }
  
  @keyframes typing {
    75%,
    100% {
      max-width: calc(var(--characters) * 1ch);
    }
  }
  
  @keyframes blink {
    0%,
    75%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
  }



  .profile-container{
    display: inline;
    position: relative;
    left: 87%;
    top: 95vh;
  }

  .profile-container__a{
    text-decoration: none;
    background-color: var(--social-background-color);
    padding: 5px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    color: var(--font-color-primary);
   }

   .profile-container__a:hover{
    transition: 100ms;
    cursor: pointer;
    background-color: var(--background-color-600);
    color: #cacaca;
   }

   .help-container{
    position: absolute;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    left: 8%;
    top: 4%;
    opacity: 0;
    transition: all 500ms;
   }

:root{
    --background-color: #161616;
    --shadow-color-primary: #cacaca;
    --font-color-primary: #ffffff;
    --background-color-500: #0d1d31;
    --background-color-600: #1B3352;
    --background-color-900: #161616;
    --green-icon: #35CC2E;
    --comunica-color: #4080ee;
    --logo-color: #01FB21;
    --social-background-color: #34495e;
    --java-color: #dbba26;
}