
/* MODIFICACIONES AL WEBKIT */

/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: gray;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:#229954;
    border-radius: 10px;
}

/*Declaracion de variables */
/* Colores principales */
:root{
    --background-color-500: #0d1d31;
    --background-color-600: #1B3352;
    --background-color-900: #0c0d13;
    --green-icon: #35CC2E;
    --comunica-color: #4080ee;
    --logo-color: #01FB21;
}
/* Degradados y radiales */
:root{
    --background-color-radial: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    --backgroun-secondary-color-radial: radial-gradient(ellipse at bottom, #1f72db 0%, #3f58ef 100%);
}

/*Selectores Container, body y HTML */

/*Color del cuerpo */
body{
    background: var(--background-color-900);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

/*SELECTORES UNIVERSALES */

/*Links*/

a{
    text-decoration: none;
    color: #fff;

}

/* Selectores H1,H3,H4 */

h1,h3,h4{
    font-family: 'Radio Canada', sans-serif;
    color: #fff;
}

/* NAV */



.btn-menu{
    color: #fff;
    float: left;
    line-height: 80px;
    position: absolute;
    left: 3%;
    font-size: 25px;

}


#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background-color: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}


.cont-menu nav{
    transform: translateY(15%);

}

.cont-menu nav a{
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background-color: #1f1f1f;
}

.cont-menu nav a:hover{
    color: var(--green-icon);
}

.cont-menu label{
    position: absolute;
    right: 5px;
    color: white;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.btn-menu label{
    cursor: pointer;
}



/* TITULO */

.container_title{
    display: inline-block;
    text-align: center;
    position: relative;
    top: 14vh;
    font-size: 30px;
}

.neonText {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: none;
    opacity: 0;
    text-shadow: 0 0 10px var(--logo-color);
  }

.title r{
    transition: 1s;
}
.title r:hover{
    color: var(--logo-color);
    transition: 1s;
}
.description w {
    color: var(--comunica-color);
}
.title{
    position: relative;
    top: 10px;
    color: #fff;
}

.img__title{
    width: 98px;
    animation-name: down-button;
    animation-duration: 1s;
    animation-delay: 2s;
}

.container_about-me{
    padding: 150px;
    padding-left: 80px;
    position: relative;
    top: 111vh;
}
.about-me__text{
    font-family: 'Zen Loop', cursive;
    font-size: 50px;
    color: #fff;
    margin-right: 50vh;
    position: absolute;
    bottom: 45vh;
}
.img__about-me{
    position: relative;
    left: 120vh;
    top: 5vh;
}



/* Animaciones */

@keyframes down-button {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/*
    Designer: rcomunica
    Archive: style-index.css
    For: index.php
    Last date for Update: 27 - MAY - 2022
    Documentacion del codigo: 27 - MAY - 2022
    

    NOTES: Al momento falta diseñar el NAV lateral este se espera
    realizar el 28 - MAY - 2022 tambien a si mismo se modificara
    el archivo index.php
*/